.img--tomatoes {

    width: 25%;
    margin-bottom: 2rem;
    border-radius: 20px;
    
    }

.qrcode {

    width: 10%;
    padding-top: 2rem;
}

.container--text {
    background-color: blue;
    display: flex;
    padding: 0rem;
    margin: 0rem;
    

}

.container__openai {

    padding: 2rem;
    margin: 0rem;
    align-items: center;

}